@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  opacity: 1;
  background-image:  radial-gradient(#00ddff 2px, transparent 2px), radial-gradient(#00ddff 2px, #ffffff 2px);
  background-size: 80px 80px;
  background-position: 0 0,40px 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
